/* Layout.css */
.container-fluid {
  padding-left: 0; /* Remove padding from the container */
  padding-right: 0; /* Remove padding from the container */
}

.row.min-vh-100 {
  min-height: 100vh; /* Ensure full height */
}

.sidebar {
  background-color: #1b2d3f; /* Dark background for the sidebar */
  min-height: 100vh; /* Full height */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}

/* Added styles for larger screens */
@media (min-width: 768px) {
  .sidebar {
    position: relative; /* Relative position on larger screens */
    width: 250px; /* Fixed width for the sidebar */
    transform: translateX(0); /* Ensure sidebar is visible */
  }

  .col.p-4 {
    margin-left: 250px; /* Push main content area by sidebar's width */
    transition: margin-left 0.3s ease-in-out; /* Smooth transition for the margin */
  }
}

/* Adjusted styles for smaller screens */
@media (max-width: 767px) {
  .sidebar {
    position: fixed; /* Fixed position on smaller screens */
    z-index: 1000; /* Ensure it's above other content */
    width: 100%; /* Full width */
    height: auto; /* Auto height based on content */
    overflow-y: visible; /* Adjust overflow */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
  }

  .sidebar.offcanvas {
    transform: translateX(-100%); /* Hide off-canvas by default */
  }
}
